.App {
  height: 100vh;
}

.item-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .product-info {
    width: 20%;
    display: flex;
    align-items: center;
    img {
      height: 150px;
    }
    .sub-info {
      p {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  .actions {
    cursor: pointer;
    color: #fff;
    background: rgb(19, 117, 209);
    border: none;
    outline: none;
    padding: 12px 17px;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    &:hover {
      background: rgb(5, 88, 136);
    }
  }
}

//item cart
.item-product-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 100px;
    }
    .sub-info {
      p {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  .product-actions {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .method {
      border: none;
      background: rgb(19, 117, 209);
      padding: 1px 8px;
      font-size: 20px;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.footer-container {
  width: 70%;
  margin: 0 auto;
  border-top: 2px solid rgb(19, 117, 209);
  .totalCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      text-transform: uppercase;
    }
    span {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
